main-content(name="main").panel
  c-rando-clock(name="clock")
  c-input(placeholder="Value", name="value")
  countdown-figure(name="rdy") Ready..?
  countdown-figure.count 3
  countdown-figure.count 2
  countdown-figure.count 1
  c-block-button(content="Next (Space)" name="btn")