main-content
  c-ripple-button(link="single")
    move-body
      h1 Single
      clock-body
        c-rando-clock
  c-ripple-button(link="4some")
    move-body
      h1 4 some
      clock-body
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock

  c-ripple-button(link="full")
    move-body
      h1 full
      clock-body
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock
        c-rando-clock

